/**
 *  Base
 *  ====
 *
 *
 */


*, *::before, *::after {

	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
  				box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #617d92;
	font-family: 'Colaborate', sans-serif;
	font-weight:400;
}

.design_bg{
	background-image:url(../assets/img/present.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top right;
}

.header_bar{
	height: 5.5rem;
	width: 46rem;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.header_bar > h1{
	font-size: 2.5rem;
	color: #e9ebe8;
	display: block;
	margin: 1rem 1rem 1rem 0;
	font-family: 'Colaborate', sans-serif;
	font-weight:400;
	float: left;
}

.header_bar > h2{
	font-size: 1.1rem;
	color: #e9ebe8;
	display: block;
	margin: 2.1rem 1rem 1rem 0;
	font-family: 'Colaborate', sans-serif;
	font-weight:400;
	float: left;
}
/*
.navi{
	width: 15rem;
	height: 5rem;
	margin-left: 2rem;
	padding: 2rem 1.5rem 1.0rem 1.5rem;
	background: rgba(255, 255, 255, 0.5);
	float: left;
	-webkit-border-bottom-right-radius: 14px;
	-webkit-border-bottom-left-radius: 14px;
	-moz-border-radius-bottomright: 14px;
	-moz-border-radius-bottomleft: 14px;
	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 14px;
}*/

button {
	font-size: 1.1rem;
	color: #3d4f5b;
	/*float: left;*/
	background: #e9ebe8;
	padding: 0.4rem;
	/*margin-bottom: 0.5rem;*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}


.wishlist_share_button {

	float: right;
	text-transform: uppercase;

	background-color: rgb(246, 231, 198); /** vanille **/
	border: 2px solid rgb(229, 199, 149); /** creme **/
	color: rgb(164, 114, 65); 						/** choclate **/

	opacity: 1;

	-webkit-transition: opacity 300ms ease;
		 -moz-transition: opacity 300ms ease;
		   -o-transition: opacity 300ms ease;
		 		  transition: opacity 300ms ease;
}

.invisible {

	opacity: 0;
}


/*
.hidden {

	display: none;
}
*/



.add_item{
	background: #C7A06B;
	color: rgb(246, 243, 232);
}

.right{
	float: right;
}

.content_wrap{
	height:auto;
	width: 46rem;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	clear: both;
}

.wishlist_content{

	width: 100%;
	height: 100%;

	min-height: 25rem;

	padding: 5rem 1rem 1rem 4rem;

	color: rgb(164, 114, 65);
}


.wishlist_content_wishes_wrap {

	width: 90%;
	height: 2.6rem;
	margin-top: 1rem;
	/*font-weight: 500;*/
}


.wishlist_content_wishes_wrap_bottom {

	margin: 2rem 0 4rem 0;
}

.content_description {

	font-size: 1.1rem;
	padding: 0.5rem 0;

	float: left;
	text-transform: uppercase;
}




.wishlist_wrap{
	height: auto;
	width: 46rem;
	padding-left:2em;
	margin-top: 2rem;
	padding-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
}


.wishlist_middle{
	width: 43rem;
	min-height: 20rem;
	height: auto;
	margin-left: -1.5rem;
	margin-top: -3rem;
	background: #f2ddae;
	-webkit-box-shadow:  0rem 5rem 1.5rem rgba(60, 67, 87, 0.63);
	-moz-box-shadow:  0rem 5rem 1.5rem rgba(60, 67, 87, 0.63);
	box-shadow:  0rem 5rem 1.5rem rgba(60, 67, 87, 0.63);
}

.wishlist_top:before,.wishlist_top:after,.wishlist_bottom:before,.wishlist_bottom:after{
	content: "";
	position: absolute;
}

.wishlist_top{
	width: 43rem;
	height: 6rem;
	background: #f2ddae;
	position: relative;
	-webkit-box-shadow: -1rem 1.5rem 1.5rem rgba(87, 76, 65, 0.32);
	-moz-box-shadow: -1rem 1.5rem 1.5rem rgba(87, 76, 65, 0.32);
	box-shadow: -1rem 1.5rem 1.5rem rgba(87, 76, 65, 0.32);
}

.wishlist_top:before{
	width: 3em;
	height: 6rem;
	left:-1.5em;
	background: #dfb36a;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wishlist_top:after{
	width: 3em;
	height: 6rem;
	right:-1.5em;
	background: #f2ddae;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wishlist_bottom{
	width: 43rem;
	height: 6rem;
	margin-top: -3em;
	background: #f2ddae;
	position: relative;
	-webkit-box-shadow: -1rem -0.5rem 1.5rem rgba(87, 76, 65, 0.35);
	-moz-box-shadow: -1rem -0.5rem 1.5rem rgba(87, 76, 65, 0.35);
	box-shadow: -1rem -0.5rem 1.5rem rgba(87, 76, 65, 0.35);
}

.wishlist_bottom:before{
	width: 3em;
	height: 6rem;
	left:-1.5em;
	background: #dfb36a;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.wishlist_bottom:after{
	width: 3em;
	height: 6rem;
	right:-1.5em;
	background: #f2ddae;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.navi_bottom_wrap{
	height: 8rem;
	width:	100%;
	position: relative;
}

.navi_bottom{
	width: 15rem;
	height: 5rem;
	margin-left: 2rem;
	padding: 2rem 1.5rem 1.0rem 1.5rem;
	background: rgba(255, 255, 255, 0.5);
	float: right;
	-webkit-border-top-right-radius: 14px;
	-webkit-border-top-left-radius: 14px;
	-moz-border-radius-topright: 14px;
	-moz-border-radius-topleft: 14px;
	border-top-right-radius: 14px;
	border-top-left-radius: 14px;
}

.footer{
	width: 100%;
	min-height: 20rem;
	height: auto;
	padding-top: 2em;
	background:#3d4f5b;
	position: absolute;
}

.footer_text{
	width: 46rem;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.footer_text p,h3,a{
	color: #e9ebe8;
	font-family: 'Colaborate', sans-serif;
}





/**
 *  Fonts
 *  =====
 *
 *
 */
/**
 *  Colaborate
 *
 *   /*  font-family: 'Colaborate', sans-serif;*/

@font-face {
  font-family: 'Colaborate';
  src: local('Colaborate'), url("../assets/fonts/Colaborate/ColabLig.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Colaborate';
  src: local('Colaborate'),url("../assets/fonts/Colaborate/ColabReg.otf") format('opentype');
  font-weight: 500;
  font-style: bold;
}
