/**
 *  Base
 *  ====
 *
 *
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.page {
  margin: 0;
  padding: 0;
}
html,
.page {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Fira Sans Regular';
  font-size: 100%;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  list-style: none;
}
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
img {
  width-max: 100%;
  height-max: 100%;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
.hidden {
  display: none;
}

/**
 *  Layout
 *  ======
 *
 *
 *   <header>
 *    <container>
 *      ....
 *
 *   <main>
 *    <container>
 *     ...
 *
 *  <footer>
 *    <container>
 *      ...
 */
.page {
  background-color: #f2f2f2;
}
.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.center {
  font-size: 0;
}
.center::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.center > .center-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
header {
  height: 6rem;
  background-color: #5c3042;
}
nav {
  height: 10rem;
  background-color: #ccc;
}

/**
 *  Header
 *  ======
 *
 *
 */
.header-title {
  height: 100%;
  float: left;
}
.header-title-brand {
  color: color-green-2;
}
.header-title-brand:hover {
  color: #f2f2f2;
}
.header-title-link {
  display: inline-block;
}
.header-title-main {
  font-family: 'Londrina Shadow', cursive;
  display: inline-block;
  color: #e8eae9;
  letter-spacing: 5px;
  font-size: 3rem;
}
.header-title-main > span:last-child {
  margin-left: 5px;
}
.header-options {
  height: 100%;
  float: right;
  cursor: pointer;
}
.header-language {
  border: 1px #d6d1d1 solid;
  width: 4rem;
  overflow: hidden;
  -webkit-transition: width 500ms ease-in-out;
  -moz-transition: width 500ms ease-in-out;
  -o-transition: width 500ms ease-in-out;
  -ms-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}
.header-language-open {
  width: 19.5rem;
}
.header-language-list {
  width: 19rem;
}
.header-language-current {
  float: left;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #e8eae9;
  position: relative;
}
.header-language-current:not(:first-child)::before {
  content: '';
  position: absolute;
  height: 1.5rem;
  width: 0.125rem;
  top: 0.6rem;
  left: -0.125rem;
  background: #e8eae9;
}

/**
 *  Navigation
 *  ==========
 *
 *  crumb bar
 *
 */
.progress {
  width: 55%;
}
.progress-wrapper {
  height: 100%;
  padding-top: 5rem;
}
.progress-step {
  float: left;
  height: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
  padding: 1rem 2rem;
  position: relative;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #787878;
}
.progress-step::after {
  border-left: 2rem solid #787878;
}
.progress-step > a {
  text-decoration: none;
  color: #e8eae9;
}
.progress-step::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid #ccc;
  z-index: 1;
}
.progress-step::after {
  content: "";
  position: absolute;
  right: -1.75rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
  top: 0;
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  border-left: 2rem solid color-green-3;
  z-index: 1;
}
.progress-step:hover {
  background: #488f5c;
}
.progress-step:hover::after {
  border-left-color: #488f5c;
}
.progress-step:hover > .progress-step-tooltip {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: -3rem;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.progress-step-tooltip {
  position: absolute;
  font-size: 1.5rem;
  left: 1rem;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  top: -1rem;
  font-style: italic;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.progress-wrapper li:first-child::before,
.progress-wrapper li:last-child::after {
  display: none;
}
.progress-wrapper li:not(:first-child) {
  padding: 1rem 2rem 0 4rem;
}
.progress-wrapper li:last-child {
  padding: 1rem 2.5rem 0 4rem;
}
.active {
  background-color: #6b65aa;
}
.active::after {
  border-left: 2rem solid #6b65aa;
}
.active:hover {
  background-color: #6b65aa;
}
.active:hover::after {
  border-left: 2rem solid #6b65aa;
}
.active > .progress-step-tooltip {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: -3rem;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.past {
  background-color: #494949;
}
.past::after {
  border-left: 2rem solid #494949;
}

/**
 *  Main
 *  ====
 *
 *
 */
.main-selection {
  background-color: #443139;
  color: #e8eae9;
  height: 8rem;
  overflow: hidden;
  position: relative;
  clear: both;
}
.main-selection-list {
  width: 300%;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: left 500ms ease-in-out;
  -moz-transition: left 500ms ease-in-out;
  -o-transition: left 500ms ease-in-out;
  -ms-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}
.selected-entry {
  float: left;
  width: 33.333%;
  height: 100%;
}
.main-info {
  height: 100%;
}
.main-info-intro {
  counter-reset: steper;
}
.main-info-intro > li::before {
  content: counter(steper) '.) ';
  counter-increment: steper;
}
.intro-step {
  font-size: 1.5rem;
}
.gallery-entry {
  float: left;
  width: 15%;
  margin: 0 2.5%;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}
.gallery-entry > a {
  text-decoration: none;
  color: #e8eae9;
  text-align: center;
}


/**
 *  Fonts
 *  =====
 *
 *
 */
/**
 *  Fira
 *
 *  URL: http://mozilla.github.io/Fira/
 */
@font-face {
  font-family: 'Fira Sans';
  src: url("../assets/fonts/Fira/eot/FiraSans-Regular.eot");
  src: local('Fira Sans Regular'), url("../assets/fonts/Fira/eot/FiraSans-Regular.eot") format('embedded-opentype'), url("../assets/fonts/Fira/woff/FiraSans-Regular.woff") format('woff'), url("../assets/fonts/Fira/ttf/FiraSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-weight: 400;
/*src: local('Londrina Shadow'), local('LondrinaShadow-Regular'), url(http://themes.googleusercontent.com/static/fonts/londrinashadow/v1/dNYuzPS_7eYgXFJBzMoKdf8mOSX00gsdbtRvMGBBXNY.woff) format('woff');*/
  src: local('Londrina Shadow'), local('LondrinaShadow-Regular'), url("../assets/fonts/LondrinaShadow/LondrinaShadow.woff") format('woff');
}
