.list-form input {
  margin: 1%;
}
.list-set {
  border: none;
}

.add {
  width: 100%;
  height: 50px;
  margin: 1% 0;
  background-color: #4fc474;
}
.add-plus {
  color: #eee;
  font-weight: bold;
  font-size: 3rem;
  text-align: right;
  margin-right: 2%;
}

.controls {
  width: 0;
  height: 50px;
  margin: 1% auto;
}

.wishlist_item{

	display: block;
	overflow:hidden;
    height: 130px;
    padding: 5px;
    margin: 5px;
	border: solid 1px grey;
    cursor:move;
}