body{
	background: #42608D;

}

.design_bg{
	height:100%;
	width:100%;
	background-image:url(#);
}

.snow{
	background:rgba(255,255,255,0.5);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.footer{
	width: 100%;
	height: 20rem;
	padding-top: 2em;
	background: #ffffff;
}

.footer_text p,h3,a{	
	color: #818CB1;
}
