
<header>
  <h1 class="lightbox_title">{{title}}</h1>
  <img class="close_img" id="close_img_icon" src="assets/icons/close.png" width="30" height="30" alt="close lightbox"/>
</header>
<ul class="comments_wrap clearfix" id="comments">
  <li class="comment_entry">
    <fieldset class="commentlist_comment_set">
      <ul class="commentlist_form">
        <li class="clearfix">
          <label for="name_form" class="commentlist_comment_field_label js-label" >Name</label>
          <input type="text" name="comment_by" placeholder="Add your name" tabindex="1"
            autocomplete="off" class="commentlist_comment_field_input js-input" id="name_form" autofocus/>
        </li>
         <li class="clearfix">

          <label for="comment_form" class="commentlist_comment_field_label js-label">Comment</label>
          <textarea type="text" name="comment" placeholder="Add a comment" tabindex="2"
          autocomplete="off" class="commentlist_comment_field_input textarea_form js-input" id="comment_form"></textarea>

        </li>
      </ul>
    </fieldset>
    <section class="commentlist_edit js-edit">
      <div class="edit_confirm">
        <button class="lightbox_edit_button-save comment-save">Make Comment</button>
        <button class="lightbox_edit_button-cancel comment-cancel">Clear</button>
      </div>
    </section>
  </li>
</ul>
