<section class="donate_wrapper" id="donate_wrapper">
	<header>
		<label>{{title}}</label>
	</header>
	<div class="status">
		<label>Price</label>
		<input class="price_input" type="text" value="{{price}}" disabled>
		
		<label>Already Donated</label>
		<div class="clearfix">
			<div class="outerbar"><div class="innerbar" id="donate_innerbar"></div></div>
			<label class="currentAmount">{{currentAmount}}</label>
		</div>
		
		<div class="clearfix">
			<div class="left">
				<label>Name</label>
				<input class="name_input" type="text" name="name" placeholder="Add your name">
			</div>
			<span class="left">:</span>
			<div class="left">
				<label>Donation</label>
				<input class="donation_input" type="text" name="donation" placeholder="Add a sum">
			</div>
		</div>
		
		<button id="cancelButton">cancel</button>
		<button id="donateButton">donate</button>
	</div>
	<ul>
		
	</ul>
</section>