<li class="wishlist_wish wishlist_wish-open">

  <fieldset class="wishlist_wish_set">

    <ul class="wishlist_wish_fields">
    	
      <li class="wishlist_wish_field js-field">

        <label for="item-{{num}}" class="wishlist_wish_field_label js-label">Item</label>
        <input type="text" name="item" placeholder="Item OR Link" tabindex="{{tab}}"
        autocomplete="off" disabled class="wishlist_wish_field_input js-input" id="item-{{num}}"/>

      </li>

      <li class="wishlist_wish_field js-field">

        <label for="link-{{num}}" class="wishlist_wish_field_label js-label">Link</label>
        <input type="text" name="link" placeholder="Add a Link" tabindex="{{tab+1}}"
        autocomplete="off" disabled class="wishlist_wish_field_input js-input" id="link-{{num}}"/>

      </li>

      <li class="wishlist_wish_field js-field">

        <label for="price-{{num}}" class="wishlist_wish_field_label js-label">Price</label>
        <input type="number" name="price" min="0" step="1" pattern="\d+" placeholder="Set a Price" tabindex="{{tab+2}}"
        autocomplete="off" disabled class="wishlist_wish_field_input js-input" id="price-{{num}}"/>

      </li>

      <li class="wishlist_wish_field js-field">
      	
      	<button name="share" id="share-{{num}}">Share:</button>
      	
		<!-- Sollte in eine Lightbox ausgelagert werden 
			Werden dann wahrscheinlich auch anderen Elemente und IDs sein, 
			wollte nur die Funktionalität testen. -->
      	<div id="shareDiv-{{num}}">
      		<input type="number" id="shareAmount-{{num}}" placeholder="Your share"/>
      		<input type="text" id="shareName-{{num}}" placeholder="Your name"/>
      		<button id="shareBut-{{num}}">OK</button>
      		<p id="shareP-{{num}}"/>
      	</div>
		
      </li>

      <li class="wishlist_wish_field js-field">
      	
		<button name="comments" id="comments-{{num}}">Comments</button>
		
		<!-- Sollte in eine Lightbox ausgelagert werden 
			Werden dann wahrscheinlich auch anderen Elemente und IDs sein, 
			wollte nur die Funktionalität testen. -->
      	<div id="commentDiv-{{num}}">
      		<input type="text" id="commentContent-{{num}}" placeholder="Your comment"/>
      		<input type="text" id="commentName-{{num}}" placeholder="Your name"/>
      		<button id="commentBut-{{num}}">OK</button>
      		<p id="commentP-{{num}}"/>
      	</div>
		
      </li>

      <li class="wishlist_wish_field js-field">

		<!-- Sollte an den rechten Rand, und je nach kontext ein und ausgeblendet werden -->
		<button name="edit" id="edit-{{num}}">Edit</button>
		<button name="cancel" id="cancel-{{num}}">Cancel</button>
		<button name="save" id="save-{{num}}">Save</button>
		<button name="delete" id="delete-{{num}}">Delete</button>

      </li>

    </ul>

  </fieldset>

  <hr class="wishlist_wish_seperator"/>

</li>
