.list-form input {
  margin: 1%;
}
.list-set {
  border: none;
}

.add {
  width: 100%;
  height: 50px;
  margin: 1% 0;
  background-color: #488f5c;
}
.add-plus {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 3rem;
  text-align: right;
  margin-right: 2%;
  cursor: pointer;
}

.controls {
  width: 0;
  height: 50px;
  margin: 1% auto;
}
.controls {
  width: 0;
  height: 50px;
  margin: 1% auto;
}

.wishlist_item {
  display: block;
  overflow: hidden;
  height: 225px;
  padding: 5px;
  margin: 5px;
  border: 1px solid #808080;
  cursor: move;
}
.fields {
  width: 85%;
  float: left;
  margin: 0;
  border: 0;
}
.item-actions {
  width: 15%;
  float: right;
  text-align: center;
}
.item-action {
  margin: 2rem 0;
  background-color: #e1e1e1;
}

button {
  border: 0;
  padding: 0.5rem 1rem;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
button:active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  outline: 0;
  border: 0;
}
button:focus {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  outline: 0;
  border: 0;
}
.next-button {
  background-color: #f00;
}








/**
 *  Form
 *  ====
 *
 *
 */

.wishlist_content_wishes {

  margin  : 0;
  padding : 0;

  width   : 80%;
  height  : 100%;


  margin-bottom: 10rem; /** 5 **/

  cursor: pointer;
}


.wishlist_wish {

  height: 5.5rem;

  overflow: hidden;

  list-style: none;

  -webkit-transition: height 2s ease-in-out;
     -moz-transition: height 2s ease-in-out;
          transition: height 2s ease-in-out;
}


.wishlist_wish-ready {

  opacity: 1;
}

.wishlist_wish-open {

  height: 22rem;
}


.wishlist_wish_set {

  /*margin: 2rem 0 10rem 0;*/
  margin:  0;
  padding: 0;
  border:  0;
}


.wishlist_wish_fields {

  margin  : 0;
  padding : 0;
  height  : 100%;
}


.wishlist_wish_field {

  list-style: none;

  position: relative;

  height: 5rem;

  opacity: 0;

  -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}


.wishlist_wish_field-visible {

  opacity: 1;
}


.wishlist_wish_field_label {

  position: absolute;

  font-size: 1.5rem;

  /*top: 0.25rem;*/

  opacity: 1;

  color: #999;

  -webkit-transition: top 300ms ease, opacity 300ms ease;
     -moz-transition: top 300ms ease, opacity 300ms ease;
       -o-transition: top 300ms ease, opacity 300ms ease;
          transition: top 300ms ease, opacity 300ms ease;
}


.wishlist_wish_field_label-hidden {

  top: 2rem;

  opacity: 0;
}

.wishlist_wish_field_label-highlight {

  color: rgb(65, 122, 165);
}


.wishlist_wish_field_input {

  display: inline-block;

  margin-top: 2rem;

  font-size: 2rem;

  height: 2rem;

  background-color: rgb(242, 220, 174);

  border: 0;
}


.wishlist_wish_field_input:focus {

  border: 0;
}


.wishlist_wish_seperator {

  border: 0;

  height: 0.1rem;

  background-color: rgb(167, 170, 161);
}


.button_next {

  position: absolute;
  left: 45%;
  top: 35%;
}
