/**
 *  Themes - Xmas
 *  =============
 *
 *
 */


body{
	background: #42608D;
}


.design_bg {
	width:  100%;
	height: 100%;
	/*background-image:url('../../assets/img/present.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top right;*/
}


.snow{
	background:rgba(255,255,255,0.5);
	-webkit-border-radius: 50%;
		 -moz-border-radius: 50%;
					border-radius: 50%;
}


.footer{
	width: 100%;
	height: 20rem;
	padding-top: 2em;
	background: #ffffff;
}


.footer_text p,h3,a{
	color: #818CB1;
}

.footer_text > button {
	color: #818CB1;
  text-transform: uppercase;
   background-color: rgb(199, 218, 254);
   opacity: 0.4;
}

.footer_text > button:active {
  -ms-filter: none;
  filter: none;
  background-color: rgb(199, 218, 254);
  opacity: 1;
  outline: 0;
}

.footer_text > button:focus {
  -ms-filter: none;
  filter: none;
  background-color: rgb(199, 218, 254);
  opacity: 0.6;
  outline: 0;
}